<section class="bg-white">
  <div class="container px-6 py-8 mx-auto">
    <div class="items-center lg:flex">
      <div class="lg:w-1/2">
        <h2 class="text-3xl font-bold text-gray-800">Ochieng Otieno</h2>

        <p class="mt-4 text-gray-500 lg:max-w-md mb-4">
            Web & Mobile Developer based in Nairobi, Kenya.
            Computer Science undergrad. 
            Experienced in developing web applications with Ruby on Rails, 
            as well as Python, Java, and Android programming.
            Occasional writer for the <a class="font-bold text-blue-900" href="https://thejournal.co.ke">TJK Magazine</a>
        </p>

      {% include icons.html %}
      </div>

      <div class="mt-8 lg:mt-0 lg:w-1/2">
        <div class="flex items-center justify-center lg:justify-end">
          <div class="max-w-lg">
            <img class="object-cover object-center w-full h-64 rounded-md shadow" src="https://images.unsplash.com/photo-1564865878688-9a244444042a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8Y29kZXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>